*.aux
*.log
*.synctex.gz
*.toc
*.nav
*.out
*.vrb
*.snm
*.o
samples/xmlversion
samples/xmltranspose
samples/xmlread
samples/xmliter
samples/xmlclone
samples/xml2midi
samples/xml2guido
samples/readunrolled
samples/randomMusic
samples/partsummary
samples/countnotes
libmusicxml.js
Debug
Release
doc/html
doc/latex
tmp
macos
validation/3.*
build/macosx/*
