xcode/
.DS_Store

*.o
*.so
*.wasm


build/libmusicxml2*
build/android/libs
build/android/obj
build/iosdir
build/libdir
build/bin
build/lib
packages/libmusicxml-*
packages/libmusicxml2-*
doc/html
doc/latex
libmusicxml.js
libmusicxml.wasm.*
validation/3.*
javascript/libmusicxml.wasm
schema/elements.txt
