
html, body {
	padding : 0px;
	margin-right : 20px;
	margin-left : 20px;
	margin-top : 5px;
	margin-bottom : 0px;
	height: 99%;
	min-height: 500px;
}

.header 	{ grid-area: header; }
.left 	    { grid-area: left; height: 100%; }
.right 		{ 
	grid-area: right; 
	height: 100%; 
	border-width: 0;
	margin-left: 10px;
}
.footer 	{ 
	grid-area: footer;
	padding: 5px;
	text-align: center;
	border-width: 0;
	border-radius: 5px;
	font-size: 85%;
	background: #dddddd;
	width: 100%;
}

.grid-container {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 50px calc(100% - 100px) auto;
	grid-template-areas:
		'header header'
		'left right'
		'footer footer';
	align-content: start;
	grid-gap: 10px;
	padding: 3px;
	height: 98%;
}

.grid-container > div {
	background-color: rgba(255, 255, 255, 1);
	padding: 0 0;
	font-size: 14px;
  }

#codepane    	{ height: 100%; }
#code    		{ height: 99%; }
#logs    		{ height: 100%; font-size: 90%;}
#logpane    	{ height: 98%; }
#about			{ 
	width: 80%; 
	top: 120px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 110%;
}
.tab-content    { height: calc(100% - 25px); }
.tab-pane		{ width: 100%; height: 100%; overflow-y: none; }
.aboutdesc		{ text-align: justify; }
.modal-dialog  { width: 100%; }
.img-centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.vtable {
	text-align: left;
    margin-left: auto;
	margin-right: auto;
}
.vtable td {
	padding-left: 15px !important;
}

.lilyoptions {
	margin-bottom: 20px;
	padding: 4px;
}

.fsize-menu {
	width: 80px;
}

.info {
	display: block;
	margin: auto;
	padding-top: calc(35%);
	font-size: 150%;
	color: lightgrey;
	text-align: center;
}
.clearbtn {
	position: absolute;
	top: calc(100% - 150px); 
	/* color: rgb(83, 82, 82);  */
	font-size: 95%;
}
.filename {
	position: absolute;
	top: calc(100% - 110px); 
	color: rgb(83, 82, 82); 
	font-size: 95%;
	padding-left: 15px;
}
.options-table > td {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.warning 	{ font-weight: bold; font-size: 105%; }
.error 		{ font-weight: bold; font-size: 105%; color: red;}

@media only screen and (max-width: 768px) {
	html, body {
		padding : 0px;
		margin-right : 5px;
		margin-left : 5px;
		margin-top : 0px;
	}

 	li > .dropdown-menu { font-size: 100%; }
	.navbar  	{ font-size: 120%; z-index: 100;}
	.tab-pane  	{ font-size: 120%; }
	.nav-tabs  	{ font-size: 110%; }
	.grid-container {
	  display: grid;
	  grid-template-columns: 100%;
	  grid-template-rows: 50px 50% auto auto;
	  grid-template-areas:
		'header'
		'left '
		'right'
		'footer';
	  grid-gap: 5px;
	  padding: 5px;
	}
	.clearbtn {
		position: relative;
	}
	.filename {
		position: relative;
		font-size: 100%;
	}
}
